.feed-row {
  display: flex;
  flex-wrap: wrap;

  --feed-card-bottom-padding: 20px;
  --feed-card-margin: 2% 0;

  --feed-content-vert-spacing: 5px;
  --feed-content-hor-spacing: 10px;

  --feed-img-padding: 2% 0;
  --feed-img-max-height: 600px;
  --feed-img-overflow: hidden;

  --liked-heart-color: rgb(255, 48, 64);
}

.feed-card {
  display: flex;
  flex-direction: column;
  height: auto;
  padding-bottom: var(--feed-card-bottom-padding);
  margin: var(--feed-card-margin);
  box-shadow: none !important;
  border: none !important;
  border-bottom: 1px solid #ccc !important;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-circle {
  display: inline-flex;
  align-items: center;
  padding-right: var(--feed-content-hor-spacing);
  cursor: pointer;
}

.profile-circle img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.profile-circle fa-icon {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: rgb(204, 204, 204);
  color: white;
}

.username {
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}

.small-icon {
  padding-left: 8px;
  font-size: 3px;
}

.post-date {
  padding-left: 4px;
}

.feed-image-container {
  padding: var(--feed-img-padding);
  position: relative;
  overflow: var(--feed-img-overflow);
}

.feed-image {
  width: 100%;
  object-fit: cover;
  max-height: var(--feed-img-max-height);
}

.post-interactions-buttons {
  display: flex;
  justify-content: left;
}

.like-button,
.comment-button {
  cursor: pointer;
  padding: var(--feed-content-vert-spacing) var(--feed-content-hor-spacing);
}

.liked-heart {
  color: var(--liked-heart-color);
}

.like-count {
  padding: var(--feed-content-vert-spacing) var(--feed-content-hor-spacing);
  font-weight: bold;
  cursor: pointer;
}

ion-card-content {
  padding: var(--feed-content-vert-spacing) var(--feed-content-hor-spacing);
}

.view-comments {
  padding: var(--feed-content-vert-spacing) var(--feed-content-hor-spacing);
  font-weight: bold;
}
