<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-title>Likes</ion-title>
            <ion-buttons slot="end">
                <ion-button (click)="closeModal()">
                    <fa-icon size="xl" [icon]="faXmark"></fa-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-list>
        <ion-item *ngFor="let liker of likers">
            <ion-avatar slot="start" (click)="goToUserProfilePage(liker.id)">
                <ng-container *ngIf="liker.profile_picture; else noProfilePicture">
                    <img [src]="liker.profile_picture" alt="Profile Picture" />
                </ng-container>
                <ng-template #noProfilePicture>
                    <fa-icon [icon]="faUser"></fa-icon>
                </ng-template>
            </ion-avatar>
            <ion-label (click)="goToUserProfilePage(liker.id)" class="user-username">
                {{ liker.username}}
            </ion-label>
            <!-- Button to show "Follow" for users the requesting user is not following -->
            <ion-button *ngIf="liker.requesting_user_follow_status === false" (click)="followUser(liker.id)">
                Follow
            </ion-button>
            <!-- Button to show "Following" or "Requested" baed on the requesting user's follow status -->
            <ion-button (click)="unfollowUser(liker.id)" [ngStyle]="{'--background':'var(--ion-color-medium-shade)'}"
                *ngIf="liker.requesting_user_follow_status === 'accepted' || liker.requesting_user_follow_status === 'pending'">
                {{ liker.requesting_user_follow_status === 'accepted' ? 'Following' : 'Requested' }}
            </ion-button>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll [disabled]="!hasMoreUserLikersData" (ionInfinite)="loadMoreLikers($event)">
        <ion-infinite-scroll-content loadingText="Loading..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>