ion-content::part(scroll) {
  overflow-y: var(--overflow);
  overscroll-behavior-y: contain;
}

.comments-list {
  padding: 8px;
}

ion-item {
  padding: 2px 0;
}

ion-title {
  text-align: center;
}

ion-avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background-color: rgb(204, 204, 204);
  cursor: pointer;
}

ion-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ion-avatar fa-icon {
  background-color: rgb(204, 204, 204);
  color: white;
}

.comment-label {
  padding-left: 10px;
  padding-bottom: 10px;
}

.comment-user-info {
  display: flex;
  align-items: center;
}

.user-username {
  font-weight: 500;
  cursor: pointer;
}

.small-icon {
  padding-left: 8px;
  font-size: 3px;
}

.comment-date {
  padding-left: 4px;
}

.comment-content {
  white-space: normal;
}

.comment-form {
  position: sticky;
  width: 100%;
  bottom: 0;
  z-index: 5;
}

.comment-form form ion-item {
  padding: 0;
  --inner-padding-end: 0;
}

/* Remove the background box from ion-button */
ion-button.comment-button {
  --background: transparent;
  --color: rgb(0, 149, 246);
  --border-width: 0;
  --box-shadow: none;
  --border-radius: 0;
  --padding-start: 0;
  --padding-end: 0;
  margin-right: 10px;
  font-size: 15px;
}

ion-button.comment-button:hover {
  --background: transparent;
}
