:root {
  --ion-color-toolbar: transparent;
}

.ion-color-toolbar {
  --ion-color-base: var(--ion-color-toolbar);
}

ion-grid {
  --ion-grid-padding: 0;
  --ion-grid-column-padding: 0;
}

ion-grid,
ion-row,
ion-col {
  overflow: hidden;
  height: 100vh;
}

.container {
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5%;
}

ion-header {
  position: static; /* Place the ion-header at the top */
  text-align: center;
}

.content {
  text-align: center;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

form {
  margin-bottom: 30px;
}

img {
  height: 100vh;
  object-fit: contain;
}

.login-link {
  color: rgb(94, 191, 211);
  text-decoration: none;
  cursor: pointer;
}

.custom-link:hover {
  text-decoration: underline;
}
