<ion-content>
    <!-- Error during retrieval of user profile data -->
    <ng-container *ngIf="userDataError">
        <app-error-page [error]="userDataError"></app-error-page>
    </ng-container>

    <div *ngIf="userData" class="profile-page-container">
        <div class="profile-page">
            <div class="profile-info-container">
                <!-- User Profile Picture -->
                <div class="profile-picture-container">
                    <div class="profile-picture">
                        <ng-container *ngIf="userData.profile_picture">
                            <img [src]="userData.profile_picture" alt="Profile Picture" />
                        </ng-container>
                        <ng-container *ngIf="!userData.profile_picture">
                            <fa-icon [icon]="faUser"></fa-icon>
                        </ng-container>
                    </div>
                </div>
                <!-- User Profile Info -->
                <div class="profile-info">
                    <div class="profile-username-and-actions">
                        <!-- Profile Username -->
                        <div class="profile-username">
                            {{ userData.username }}
                        </div>
                        <!-- Contains buttons to perform actions to the user -->
                        <div class="profile-actions">
                            <!-- Button showing "Follow" to allow us to followe the user if we are not following them -->
                            <ion-button class="profile-action" *ngIf="userData.follow_status === false"
                                (click)="followUser(userId)">
                                Follow
                            </ion-button>
                            <!-- Button showing "Following" or "Requested" based on our current follow status
                                and allows us to unfollow them when clicked -->
                            <ion-button class="profile-action" (click)="unfollowUser(userId)"
                                [ngStyle]="{'--background':'var(--ion-color-medium-shade)'}"
                                *ngIf="userData.follow_status === 'accepted' || userData.follow_status === 'pending'">
                                {{ userData.follow_status === 'accepted' ? 'Following' : 'Requested' }}
                            </ion-button>
                            <ion-button *ngIf="userData.follow_status !== 'self'" class="profile-action"
                                [ngStyle]="{'--background':'var(--ion-color-medium-shade)'}">
                                Message
                            </ion-button>
                        </div>
                    </div>
                    <!-- Profile Stats for Large Screen -->
                    <div *ngIf="isLargeScreen" class="profile-stats">
                        <ul class="profile-stat-list">
                            <li>
                                <span class="profile-stat-number">{{ userData.num_posts }}</span>Posts
                            </li>
                            <!-- Shows a user's follower count and opens a modal displaying the user's followers when clicked-->
                            <!-- The modal click function is only activated if we can view the profile and the follower count is greater than 0-->
                            <li [ngClass]="userData.can_view && userData.num_followers > 0 ? 'followers-stat' : null"
                                (click)="userData.can_view && userData.num_followers > 0 ? openUserConnectionsModal(userId, 'followers') : null">
                                <span class="profile-stat-number">{{ userData.num_followers }}</span>Followers
                            </li>
                            <!-- Shows a user's following count and opens a modal displaying the user's followings when clicked-->
                            <!-- The modal click function is only activated if we can view the profile and the following count is greater than 0-->
                            <li [ngClass]="userData.can_view && userData.num_following > 0 ? 'following-stat' : null"
                                (click)="userData.can_view && userData.num_following > 0 ? openUserConnectionsModal(userId, 'following') : null">
                                <span class="profile-stat-number">{{ userData.num_following }}</span>Following
                            </li>
                        </ul>
                    </div>
                    <!-- user details (user first&last name and profile bio) for large screens (placed within profile-info div) -->
                    <div *ngIf="isLargeScreen" class="profile-user-details">
                        <div *ngIf="userData.first_name || userData.last_name" class="profile-first-last-name">
                            {{userData.first_name}} {{userData.last_name}}
                        </div>
                        <div class="profile-user-details-separator"></div>
                        <div *ngIf="userData.bio">{{userData.bio}}</div>
                    </div>
                </div>
            </div>
            <!-- user details (user first&last name and profile bio) for small screens (placed below profile-info div) -->
            <div *ngIf="!isLargeScreen" class="profile-user-details">
                <div *ngIf="userData.first_name || userData.last_name" class="profile-first-last-name">
                    {{userData.first_name}} {{userData.last_name}}
                </div>
                <div class="profile-user-details-separator"></div>
                <div *ngIf="userData.bio">{{userData.bio}}</div>
            </div>
            <!-- Profile Stats for Small Screens -->
            <div *ngIf="!isLargeScreen" class="profile-stats">
                <ul class="profile-stat-list">
                    <li>
                        <span class="profile-stat-number">{{ userData.num_posts }}</span>
                        <span class="profile-stat-category"> Posts</span>
                    </li>
                    <!-- Shows a user's follower count and opens a modal displaying the user's followers when clicked-->
                    <!-- The modal click function is only activated if we can view the profile and the follower count is greater than 0-->
                    <li [ngClass]="userData.can_view && userData.num_followers > 0 ? 'followers-stat' : null"
                        (click)="userData.can_view && userData.num_followers > 0 ? openUserConnectionsModal(userId, 'followers') : null">
                        <span class="profile-stat-number">{{ userData.num_followers }}</span>
                        <span class="profile-stat-category"> Followers</span>
                    </li>
                    <!-- Shows a user's following count and opens a modal displaying the user's followings when clicked-->
                    <!-- The modal click function is only activated if we can view the profile and the following count is greater than 0-->
                    <li [ngClass]="userData.can_view && userData.num_following > 0 ? 'following-stat' : null"
                        (click)="userData.can_view && userData.num_following > 0 ? openUserConnectionsModal(userId, 'following') : null">
                        <span class="profile-stat-number">{{ userData.num_following }}</span>
                        <span class="profile-stat-category"> Following</span>
                    </li>
                </ul>
            </div>
            <!-- Shows the profile posts if the user can view them (profile not a private account that the user doesn't follow)-->
            <div *ngIf="userData.can_view; else privateProfile" class="profile-content">
                <div class="profile-tablist">
                    <div class="profile-tab" [ngClass]="{'selected': selectedTab === 'posts'}"
                        (click)="selectTab('posts')">
                        <fa-icon [icon]="faTableCells"></fa-icon>
                        <span class="profile-tab-text"> POSTS</span>
                    </div>
                </div>
                <!-- User Posts -->
                <div *ngIf="userData.posts.length > 0; else noPosts" class="user-posts-container">
                    <ng-container *ngFor="let post of userData.posts">
                        <div class="single-post-container">
                            <div class="post-overlay-content">
                                <p><fa-icon [icon]="faHeart"></fa-icon> {{ post.like_count }}</p>
                                <p><fa-icon [icon]="faComment"></fa-icon> {{ post.comment_count }}</p>
                            </div>
                            <img class="user-post-image" [src]="post.media" />
                        </div>
                    </ng-container>
                </div>
                <ion-infinite-scroll [disabled]="!hasMoreUserProfilePosts" (ionInfinite)="loadMoreProfilePosts($event)">
                    <ion-infinite-scroll-content loadingText="Loading..."
                        loadingSpinner="bubbles"></ion-infinite-scroll-content>
                </ion-infinite-scroll>
                <!-- Displayed when the user has no posts-->
                <ng-template #noPosts>
                    <div class="no-posts-content">
                        <div class="no-posts-icon-container">
                            <fa-icon size="4x" [icon]="faCamera"></fa-icon>
                        </div>
                        <div class="no-posts-message">
                            <p>No Posts Yet</p>
                        </div>
                    </div>
                </ng-template>
            </div>
            <!-- Displayed when the profile is private and the user is not following them -->
            <ng-template #privateProfile>
                <div class="private-profile-content">
                    <div class="private-profile-icon-container">
                        <fa-icon size="4x" [icon]="faLock"></fa-icon>
                    </div>
                    <div class="private-profile-message">
                        <p>This Account is Private</p>
                        <p>Follow to see their photos and videos.</p>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</ion-content>