<ion-grid>
  <ion-row>
    <ion-col>
      <div class="container">
        <ion-header class="ion-no-border">
          <ion-toolbar color="toolbar">
            <ion-title>SocialPy</ion-title>
          </ion-toolbar>
        </ion-header>
        <div class="content">
          <div class="welcome-message">
            <h2>Create an Account</h2>
            <p>Join SocialPy and start sharing your moments with the world.</p>
          </div>

          <form (ngSubmit)="signup()" [formGroup]="signupForm">
            <div class="errorMessages">
              <ion-text color="danger" *ngIf="generalError">
                <ion-icon name="alert-circle-outline"></ion-icon>{{ generalError }}
              </ion-text>
            </div>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" formControlName="email" (input)="emailFieldEdited = true"></ion-input>
            </ion-item>
            <div class="errorMessages" *ngIf="formSubmitted && signupForm?.get('email')?.invalid">
              <ion-text color="danger" *ngIf="signupForm?.get('email')?.hasError('required')">
                <ion-icon name="alert-circle-outline"></ion-icon>
                {{ validationMessages.email.required }}
              </ion-text>
              <ion-text color="danger" *ngIf="signupForm?.get('email')?.hasError('pattern')">
                <ion-icon name="alert-circle-outline"></ion-icon>
                {{ validationMessages.email.pattern }}
              </ion-text>
              <ion-text color="danger" *ngIf="signupForm?.get('email')?.hasError('maxlength')">
                <ion-icon name="alert-circle-outline"></ion-icon>
                {{ validationMessages.email.maxLength }}
              </ion-text>
            </div>
            <div class="errorMessages">
              <ion-text color="danger" *ngIf="emailError && !emailFieldEdited">
                <ion-icon name="alert-circle-outline"></ion-icon>{{ emailError }}
              </ion-text>
            </div>

            <ion-item>
              <ion-label position="floating">Username</ion-label>
              <ion-input formControlName="username" (input)="usernameFieldEdited = true"></ion-input>
            </ion-item>
            <div class="errorMessages" *ngIf="formSubmitted && signupForm?.get('username')?.invalid">
              <ion-text color="danger" *ngIf="signupForm?.get('username')?.hasError('required')">
                <ion-icon name="alert-circle-outline"></ion-icon>
                {{ validationMessages.username.required }}
              </ion-text>
              <ion-text color="danger" *ngIf="signupForm?.get('username')?.hasError('maxlength')">
                <ion-icon name="alert-circle-outline"></ion-icon>
                {{ validationMessages.username.maxLength }}
              </ion-text>
            </div>
            <div class="errorMessages">
              <ion-text color="danger" *ngIf="usernameError && !usernameFieldEdited">
                <ion-icon name="alert-circle-outline"></ion-icon>{{ usernameError }}
              </ion-text>
            </div>

            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <div class="errorMessages" *ngIf="formSubmitted && signupForm?.get('password')?.invalid">
              <ion-text color="danger" *ngIf="signupForm?.get('password')?.hasError('required')">
                <ion-icon name="alert-circle-outline"></ion-icon>
                {{ validationMessages.password.required }}
              </ion-text>
            </div>

            <div class="form-button">
              <ion-button shape="round" expand="full" fill="solid" type="submit">Sign Up</ion-button>
            </div>
          </form>
          <p>
            Already have an account?
            <span class="login-link" (click)="goToLoginPage()">Log In</span>
          </p>
        </div>
      </div>
    </ion-col>

    <ion-col size-lg="auto" size-xs="0">
      <img
        src="https://images.unsplash.com/photo-1670826139885-48466e8e21f9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1888&q=80"
        alt="Image" />
    </ion-col>
  </ion-row>
</ion-grid>